@model MetaPAL.Models.SpectrumMatch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SpectrumMatch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchedFragmentIons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchedFragmentIons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ms2ScanNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ms2ScanNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileNameWithoutExtension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileNameWithoutExtension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecursorScanNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecursorScanNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecursorCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecursorCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecursorMz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecursorMz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecursorMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecursorMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetentionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetentionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpectrumMatchCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpectrumMatchCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpectralAngle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpectralAngle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PEP_QValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PEP_QValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIonCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIonCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeltaScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeltaScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EssentialSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EssentialSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmbiguityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmbiguityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissedCleavage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissedCleavage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonoisotopicMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonoisotopicMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MassDiffDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MassDiffDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MassDiffPpm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MassDiffPpm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganismName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganismName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntersectingSequenceVariations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntersectingSequenceVariations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifiedSequenceVariations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentifiedSequenceVariations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpliceSites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpliceSites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartAndEndResiduesInParentSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartAndEndResiduesInParentSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousResidue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousResidue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextResidue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextResidue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecoyContamTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecoyContamTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QValueNotch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QValueNotch)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
